
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pd = ViewBag.products; ;
}


<div class="carousel-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="column-left">

            </div>
            <div class="col-md-9">
                @foreach (var item in pd)
                {
                    <div class="row">
                        <div class="col-md-12 justify-content-center">
                            <div class="product-list-active">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <a href=@Url.Action(
                                                            actionName: "Details",
                                                            controllerName:"Product",
                                                            routeValues: new
                                                            {
                                                                id = item.Id
                                                            })>
                                            <img src=@Url.Content(item.Image) />
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="name">
                                            <a href="">@item.Name</a>
                                        </div>
                                        <div class="price">
                                            <span class="price">@item.Price</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="decs">
                                            @item.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
