
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using E_Ticaretv2.Models;
@{
    double price = 0;
    double discountPrice = 0;
}

<div class="container">
    <div class="card shopping-cart">
        <div class="card-header bg-light text-dark text-center">
            My Cart
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            @if ((List<Item>)Session["cart"] != null)
            {
                foreach (Item item in (List<Item>)Session["cart"])
                {
                    if (item.Pd.Discount != 0)
                    {
                        discountPrice = (item.Pd.Price - (item.Pd.Price * item.Pd.Discount) / 100);
                        discountPrice = discountPrice * item.Quantity;
                        price += discountPrice;
                    }
                    else
                    {
                        discountPrice = item.Pd.Price;
                        discountPrice = discountPrice * item.Quantity;
                        price += item.Pd.Price;
                    }
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">

                            <img class="img-responsive" src=@Url.Content(item.Pd.Image) alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>@item.Pd.Name</strong></h4>
                            <h4>
                                <small>@item.Pd.Desc</small>
                            </h4>
                            <h4>
                                <small>@discountPrice $</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>@item.Quantity <span class="text-muted">x</span></strong></h6>
                            </div>
                            <!--
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                           size="4">
                                </div>
                            </div>
                                -->
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                @Html.ActionLink(linkText:"Remove Product",
                                  actionName:"Delete",
                                  controllerName:"ShoppingCart",
                                  routeValues: new {id = item.Pd.Id},
                                  htmlAttributes: new {@class= "btn btn-outline-danger btn-xs" }
                                  )
                            </div>
                        </div>
                    </div>
                    <hr>
                }
            }
            <!-- END PRODUCT -->
            <div class="pull-right">
                <a href="" class="btn btn-outline-secondary pull-right">
                    Update shopping cart
                </a>
            </div>
        </div>
        <div class="card-footer">

            <div class="pull-right" style="margin: 10px">
                <a href="" class="btn btn-success pull-right">Checkout</a>
                <div class="pull-right" style="margin: 5px">
                    Total price: <b>@price $</b>
                </div>
            </div>
        </div>
    </div>

</div>