<footer>
    <div class="row">
        <div class="col">XXX-XXX-XX-XX</div>
        <div class="col">destek@hotmail.com</div>
        <div class="w-100"></div>
        <div class="col">
            <p>@Html.ActionLink("About", "About", "Home")</p>
            <p>@Html.ActionLink("Contact us", "Contact", "Home")</p>
        </div>
        <div class="col">
            <p>@Html.ActionLink("Account", "Login", "Account")</p>
            <p>@Html.ActionLink("Shopping Cart", "Shopping_Cart", "Home")</p>
        </div>
    </div>
</footer>

