
<nav class="navbar navbar-expand-lg navbar-dark bg-dark customNavbar">
    <div class="d-flex flex-grow-1">
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        @Html.Partial("_LoginPartial")
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Navbar 3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    @using (Html.BeginForm("Search","Home",FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    <div class="input-group">
        @Html.TextBox("SearchProductName")


    </div>
    }
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                @Html.ActionLink(linkText: "Cart",
                     actionName: "Index",
                     controllerName: "ShoppingCart",
                     routeValues: null,
                     htmlAttributes: new { @class = "nav-link menu-item" }
     )
            </li>
        </ul>
    </div>
</nav>
