<div class="img-wrapper container">
    <img class="img-responsive" src="http://placehold.it/1100x300">
    <div class="img-overlay">
        <button class="btn btn-md btn-success">Button</button>
    </div>
</div>

