@model IEnumerable<E_Ticaret.Models.Product>
@{ 
    var list = Model.ToList();
    int i = 0;
}
<div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            @for (int j = 0; j < list.Count(); j++)
                            {
                                if (list[j].Category.Contains("sales"))
                                {
      
                                    <div class="col-md-3">
                                        <a href="#">
                                            @if (i != 4)
                                            {
                                                <img src=@Url.Content(list[j].Image) alt="sales shoe" />
                                            }
                                            else
                                            {
                                                i--;
                                               
                                            }
                                        </a>
                                    </div>
                                    i++;
                                }
                            }
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="carousel-item">
                        <div class="row">
                            @for (int j = list.Count()-1; j >=0; j--)
                            {
                                if (list[j].Category.Contains("sales"))
                                {
                                    <div class="col-md-3">
                                        <a href="#">
                                            @if (i != 0)
                                            {
                                                <img src=@Url.Content(list[j].Image) alt="sales shoe" />

                                            }
                                            else
                                            {
                                                i++;

                                            }
                                        </a>
                                    </div>
                                    i--;
                                }
                            }
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->
        </div>
    </div>
</div>