
@model IEnumerable<E_Ticaret.Models.Product>
@{
    int index = 0;
    List<string> url = new List<string>();
    foreach (E_Ticaret.Models.Product item in Model)
    {
        if (item.mainPageUrl != null)
        {
            url.Add(item.mainPageUrl);
        }
    }
}

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner main-carousel-inner">
        @foreach (string path in url)
        {
            if (index == 0)
            {

                index += 1;
                
                <div class="carousel-item main-carousel-item table-responsive-md active">
                    <img src="@Url.Content(path)">
                </div>
            }
            else
            {
                <div class="carousel-item main-carousel-item table-responsive-md">
                    <img src="@Url.Content(path)">
                </div>
            }

        }
        @{ 
            index = 0;
        }
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
